.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: whitesmoke;
}

.navbar li{
    display: inline;
    padding: 10px 20px;
}

.navbar a{
    text-decoration: none;
    color: black;
}
.banner{
    background-color: burlywood;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.gritter-section{
    padding: 20px 50px;
}

#small-gritty{
    height: 300px;
    width: 500px;
    filter: drop-shadow(1px 1px 1px black);
}

#gritter{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
}

a.blue{
    color: blue;
}

.greets ul{
    list-style-type: none;
}

.avatar{
    background-image: url('../images/gritty.jpg');
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;

}

.bold{
    font-weight: 900;
}